<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Relatório de Emails</title>
</head>
<body>
    <h1>Relatório de Emails com o Título "{{ PESQUISA }}"</h1>
    <div class="container">
        <div class="grafico">
            <div class="img">
                <img src="{{ plot_url }}" alt="Gráfico de Chamados por Dia">     
                <img src="{{ plot_plot2 }}" alt="Gráfico de Chamados por Dia">
            </div>
        </div>
        <div class="tabela">
                <table>
                        <thead>
                        <tr>
                            <th>Data</th>
                            <th>Assunto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for email in emails %}
                        <tr>
                            <td>{{ email.Subject }}</td>
                            <td>{{ email.Date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    
</body>
</html>
